Package: libvulkan1-dbgsym
Package-Type: ddeb
Source: vulkan-loader
Version: 1.1.85.0.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Installed-Size: 654
Depends: libvulkan1 (= 1.1.85.0.1-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libvulkan1
Build-Ids: 41be1f5b27f0679d4fc51d4f613732324ce66f28
